<div id="<%= id %>" class="toolbar">
  <ul>
    <li><a data-wysihtml5-action="change_view">Quelltext</a></li>
    <li><a data-wysihtml5-command="bold" title="Fett">Fett</a></li>
    <li><a data-wysihtml5-command="italic" title="Kursiv">Kursiv</a></li>
    <li><a data-wysihtml5-command="createLink" title="Link">Link</a></li>
    <li><a data-wysihtml5-command="insertUnorderedList" title="Unordered list">Unsortierte Liste</a></li>
    <li><a data-wysihtml5-command="insertOrderedList" title="Ordered list">Sortierte Liste</a></li>
    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="H1">H1</a></li>
    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="H2">H2</a></li>
    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="H3">H3</a></li>
  </ul>

  <div class="dialog" data-wysihtml5-dialog="createLink" style="display: none;">
    <div class="action-group">
      <a href="#" data-wysihtml5-dialog-action="save" class="button">OK</a>
      <a href="#" data-wysihtml5-dialog-action="cancel">Abbrechen</a>
    </div>
    <label>
      Link:
      <input class="uploadable" type="text" data-wysihtml5-dialog-field="href" value="http://">
    </label>
    <div style="clear: both;"></div>
  </div>

</div>
